<h1 class="text-center"><%= t('.sign_in') %></h1>
<div class="form-wrapper">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class=form-group>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: "true", autocomplete: "email", class: "form-control", placeholder: "xxx@email.com" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <hr>
    <div class="login-button mt-2">
      <%= f.submit "ログイン", class: "btn btn-block form-submit-btn" %>
    </div>
    <div class="guest-login-button mt-3">
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-block" %>
    </div>
    <div class="sign_up-button mt-3">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-block" %>
    </div>
  <% end %>
</div>
