<div class="sign-up-page">
  <div class="card">
    <div class="card-header">
      ログイン
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "名前" %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワード" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="sign-in__submit-btn">
          <%= f.submit "ログイン", class: "btn btn-block text-white" %>
        </div>
      <% end %>
      <hr>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
