<div class="cards">
  <a href="/posts/<%= post.id %>" class="cards-body">
    <div class="cards-header">
      <% if post.img? %>
        <img src=<%= post.img.url %>>
      <% else %>
        <%= image_tag "default-posts.jpg" %>
      <% end %>
    </div>
    <div class="post-title">
      <P><%= post.name %></P>
    </div>
  </a>
  <div class="contents steel-gray">
    <div class="post-address">
      <p><%= post.ward.name %></p>
    </div>
  </div>
</div>
