  
<div class="row posts-group">
  <% @posts.each do |post| %>
    <div class="col-12 col-md-6 col-lg-4 text-card-container">
      <%= link_to post, class: "card content-card border-dark text-decoration-none", rel: "noopener noreferrer" do %>
        <div class="card-header p-0">
          <%= image_tag post.img.url, class: "card-img-top" %>
        </div>
        <div class="card-body text-dark text-card-body">
          <p class="card-text text-title mt-4"><%= post.name %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<p class="link-box">
  <% if user_signed_in? && current_user.id == (post.user_id).to_i %>
    <%= link_to "編集", edit_post_path(post) %>
    <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "削除しますか？" } %>
  <% end %>
</p>
</div>
