<div class="cards">
  <a href="/posts/<%= post.id %>" class="cards-body">
    <div class="cards-header">
      <% if post.img? %>
        <img src=<%= post.img.url %>>
      <% else %>
        <%= image_tag "default-posts.jpg" %>
      <% end %>
    </div>
    <div class="post-title">
      <P><%= post.name %></P>
    </div>
  </a>
  <div class="contents steel-gray">
    <div class="post-address">
      <p><%= post.ward.name %></p>
    </div>
  </div>
  <div class="text-muted pl-2 d-inline-flex icons">
    <i class='fas fa-clock home-icon mr-1'></i> <%= time_ago_in_words(post.created_at) %>前
    <% if post.user == current_user %>
      <%= link_to "編集", edit_post_path(post) %>
      <%= link_to post_path(post),class: 'text-danger', method: :delete, data: { confirm: '削除しますか?', remote: true } do %>
        <i class="fas fa-trash home-icon ml-2"></i> 削除
      <% end %>
    <% end %>
  </div>
</div>
