<div class="row">
  <div class="col-xl-3 search-form">
    <div class="form-wrapper">
      <h1 class="title">ジムを探す</h1>
      <%= search_form_for @q, url: posts_path do |f| %>
        <div class="form-inline my-2 my-lg-0">
          <%= f.search_field :name_cont, class:"form-control", type:"search", nameholder:"例: 〇〇ピラティス" %>
          <%= f.submit "検索", class: "btn form-submit-btn" %>
        </div>
      <% end %>
      <div class="col-xl-9 posts">
        <h4 class="title text-center mb-5"><%= @count %>件の検索結果</h4>
        <div class="wrap">
          <%= render @posts %>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @posts %>
