<div class="post_info">
  <div class='post_entry'>
    <h2 class="post_title"><%= @post.name %></h2>
  </div>
</div>
<div class="post_img_full mt-5">
  <% if @post.img? then %>
    <%= image_tag @post.img.url ,class: 'full_image'%>
  <% end %>
</div>
<div class="post-content">
  <p><%= @post.content %></p>
</div>
<div class="comment-create my-5">
  <h3 class="text">コメントする</h3>
  <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
</div>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>
<hr class="my-4">
<div class=button-group mt-5>
  <%= link_to "投稿一覧へ", posts_path, class:"btn btn-block" %>
  <%= link_to "トップページへ", root_path, class:"btn btn-block" %>
</div>
