<nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #dbb57f;">
  <span class="navbar-brand font-weight-bold">
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <%= link_to "アカウント編集", edit_user_registration_path, class: "nav-item nav-link active font-weight-bold"%>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" },class: "nav-item nav-link active font-weight-bold" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link active font-weight-bold" %>
        <%= link_to "アカウント登録", new_user_registration_path, class: "nav-item nav-link active font-weight-bold" %>
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "nav-item nav-link active font-weight-bold" %>
      <% end %>
    </div>
  </div>
</nav>
